/*************** HEADER STLYE ******************/
header {
    background-color:#f8f8f8;
    text-align:center;
    min-width: 470px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

header h1 {
  padding:5px;
  margin-left: auto;
  margin-right: auto;
}

header img {
  width:72px;
  height:50px;
}
 /************** OUTPUT STYLE ***************/

 #outputContainer {
   min-width: 470px;
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-around;
   padding: 5px;
 }

.outputItem {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid grey;
}

.outputItem textarea {
  width: 90%;
  height: 300px;
  margin: 5px;
  border: 1px solid black;
  resize: none;
}

.outputItem button {
  margin: 5px;
}
